@model Homemade.BLL.ViewModel.Site.SiteCustomerLocationViewModel
<script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>

<!-- ***** user-dashboard-section Start ***** -->
<section class="section-style user-dashboard-section">

    <div class="container">

        <div class="user-dashboard-area">

            <div class="row">

                <partial name="_PersonalMenuPartial" />

                <div class="col-xl-9 col-lg-8">
                    <div class="row" id="divMsgParent" style="display:none">
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <div id="divMsgClass" class="alert alert-danger" role="alert">
                                    <strong id="lblMsg"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-dashboard-wrapper" id="DevDeliveryAddressesPartial">
                        <partial name="_DeliveryAddressesPartial" />


                    </div>

                </div>
            </div>

        </div>
    </div>


</section>
<div class="custom-bootstrap-modal modal fade confirm-delate-modal" id="confirmDelatemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">

            <div class="modal-body">


                <div class="modal-body-content">

                    <div class="confirm-delate-modal-area">

                        <h4 class="confirm-delate-title mb-4 text-center title-4">@Homemade.UI.Resources.Homemade.AreYouSureToDelete?</h4>
                        <div class="confirm-delate-btns">

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Homemade.UI.Resources.Homemade.Cancel</button>
                            <button type="button" class="btn btn-outline-danger" onclick="DeleteLocation()">@Homemade.UI.Resources.Homemade.Delete</button>
                        </div>
                    </div>

                </div>



            </div>


        </div>
    </div>
</div>

<!-- *****  End ***** -->
<partial name="_ModalDeliveryAddresses" model="Model" />
@section Scripts {
    <partial name="_PersonalDataScripts" />
    <script>
        $(document).ready(function() {
            GetAddressTypes();
            $(function() {
                try {
                    initMap();
                } catch (e) {

                }
            });
        });


    </script>

    <script src="~/Scripts/App/Google/AddressMapScript.js"></script>
    }
