   <!-- ***** order-status-section Start ***** -->

<section class="section-style order-status-section">


    <div class="container">

        <div class="order-status-area success">

            <div class="status-icon">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="167" height="167" viewBox="0 0 167 167">
                    <defs>
                        <filter id="Path_4098" x="72.963" y="89.679" width="49.267" height="49.24" filterUnits="userSpaceOnUse">
                            <feOffset dy="3" input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="3" result="blur" />
                            <feFlood flood-opacity="0.051" />
                            <feComposite operator="in" in2="blur" />
                            <feComposite in="SourceGraphic" />
                        </filter>
                        <filter id="Path_4100" x="38.651" y="89.688" width="49.267" height="49.24" filterUnits="userSpaceOnUse">
                            <feOffset dy="3" input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="3" result="blur-2" />
                            <feFlood flood-opacity="0.051" />
                            <feComposite operator="in" in2="blur-2" />
                            <feComposite in="SourceGraphic" />
                        </filter>
                        <filter id="Path_1591" x="90.97" y="38.34" width="52.283" height="44.253" filterUnits="userSpaceOnUse">
                            <feOffset dy="3" input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="3" result="blur-3" />
                            <feFlood flood-opacity="0.02" />
                            <feComposite operator="in" in2="blur-3" />
                            <feComposite in="SourceGraphic" />
                        </filter>
                    </defs>
                    <circle id="Ellipse_421" data-name="Ellipse 421" cx="83.5" cy="83.5" r="83.5" fill="#bce27a" opacity="0.06" />
                    <g id="open-cardboard-box-" transform="translate(40.769 73.074)">
                        <g id="Group_11826" data-name="Group 11826" transform="translate(0 0)">
                            <g transform="matrix(1, 0, 0, 1, -40.77, -73.07)" filter="url(#Path_4098)">
                                <path id="Path_4098-2" data-name="Path 4098" d="M261.621,199.3a.626.626,0,0,0-.565-.083s-21.258,7.23-21.839,7.43a.738.738,0,0,1-.8-.254l-6.689-8.262a.625.625,0,0,0-1.111.393v29.989a.624.624,0,0,0,.864.577l30.017-12.4a.625.625,0,0,0,.386-.578v-16.3A.625.625,0,0,0,261.621,199.3Z" transform="translate(-148.65 -102.22)" fill="#bce27a" />
                            </g>
                            <path id="Path_4099" data-name="Path 4099" d="M79.218,88.651,73.489,81a.624.624,0,0,0-.331-.227l-33.3-9.4a.76.76,0,0,0-.374.009l-33.3,9.4A.624.624,0,0,0,5.854,81L.125,88.66a.625.625,0,0,0,.3.967l28.158,9.557a.624.624,0,0,0,.686-.2l7.882-9.716,2.337.643a.622.622,0,0,0,.332,0h0l.034-.007,2.337-.643,7.883,9.716a.625.625,0,0,0,.686.2l28.158-9.557a.625.625,0,0,0,.3-.967Zm-39.529-1.4-23.88-6.524,23.88-6.7,23.845,6.695Z" transform="translate(0 -71.347)" fill="#bce27a" />
                            <g transform="matrix(1, 0, 0, 1, -40.77, -73.07)" filter="url(#Path_4100)">
                                <path id="Path_4100-2" data-name="Path 4100" d="M69.377,197.982a.625.625,0,0,0-.695.2l-6.689,8.262a.739.739,0,0,1-.8.254c-.581-.2-21.839-7.43-21.839-7.43a.625.625,0,0,0-.826.592v16.3a.625.625,0,0,0,.386.578l30.017,12.4a.625.625,0,0,0,.864-.578v-29.99A.625.625,0,0,0,69.377,197.982Z" transform="translate(9.13 -102.26)" fill="#bce27a" />
                            </g>
                        </g>
                    </g>
                    <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_1591)">
                        <path id="Path_1591-2" data-name="Path 1591" d="M44.536,15.279l-2.8-2.882a.6.6,0,0,0-.446-.191h0a.578.578,0,0,0-.446.191L21.42,31.964l-7.069-7.069a.616.616,0,0,0-.892,0l-2.834,2.834a.634.634,0,0,0,0,.907l8.916,8.916a2.82,2.82,0,0,0,1.863.907,2.954,2.954,0,0,0,1.847-.876h.016l21.286-21.4A.681.681,0,0,0,44.536,15.279Z" transform="translate(89.54 32.13)" fill="#bce27a" />
                    </g>
                </svg>


            </div>
            <div class="status-text-content">

                <p class="mian-text">

                    <span>شكراً لك, </span>
                    تم شحن محفظتك بنجاح
                </p>
                <p class="sub-text d-none">يمكنك التسوق الان بالمبلغ المضاف إلي المحفظة</p>
            </div>
            <div class="status-links">

                <a class="status-link tracking-btn  theme-btn theme-btn-lg theme-btn-7 " href="/Site/Home/Wallet">محفظتك</a>
                <a class="status-link back-btn theme-btn theme-btn-lg theme-btn-7  " href="/">العودة للصفحة الرئيسية</a>

            </div>
        </div>

    </div>

</section>

<!-- ***** order-status-section End ***** -->
@section Scripts {


    <script>

    </script>
}
