<section class="section-style provider-apply-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="provider-apply-area">
                    <div class="provider-apply-area-head">
                        <h1 class="provider-apply-title title-2">Erorr</h1>
                        <p class="provider-apply-head-text">@ViewBag.code</p>
                    </div>
                    <div class="request-success-area">

                        <div class="area-icon">
                            <img src="~/assets/homeMadeSite/img/12333.jpg" />
                        </div>
                        <h2 class="title-2">@ViewBag.description</h2>
                        <p class="success-text">
                        </p>
                        <a class="theme-btn theme-btn-7" href="/Site/Home/Index">@Homemade.UI.Resources.Homemade.Continue_browsing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>