<div class="modal fade" id="SubscribeModal" tabindex="-1" role="dialog" aria-labelledby="modal-block-large" aria-hidden="true">
    <div class="modal-dialog modal-dialog-popout modal-dialog-scrollable" role="document">

        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header">
                    <h3 class="block-title" id="title">

                        @Homemade.UI.Resources.Homemade.Send_Message
                    </h3>
                    <div class="block-options">
                        <button type="button" class="close btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="ion-android-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content modal-body">
                    <form method="post" onsubmit="return false"
                          data-ajax="true"
                          data-ajax-complete="completed"
                          data-ajax-method="post">
                        <input id="CheckedItems" name="CheckedItems" hidden />
                        <input id="SendTypeId" name="SendTypeId" hidden />
                        <div class="form-group">
                            <label for="material-text2">@Homemade.UI.Resources.Homemade.Message <span style="color:red">*</span></label>
                            <div id=""></div>
                            <textarea name="editorMessage" id="editorMessage" rows="10" cols="80">
                                                </textarea>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer border-white-op-t">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"> @Homemade.UI.Resources.Homemade.Close </button>
                <button class="btn btn-sm bg-orange" onclick="SendMessage()" type="button"> @Homemade.UI.Resources.Homemade.Send</button>
            </div>
        </div>
    </div>
</div>