<script>
    $("#tbl_OrderNotesAdmin thead").show();
    var tableOrderNotesAdmin = $('#tbl_OrderNotesAdmin').DataTable({
        pageLength: 10,
        pagijngType: "full_numbers",
        serverSide: true,
        processing: true,
        lengthMenu: [[5, 10, 20, 50, 100], [5, 10, 20, 50, 100]],
        sAjaxSource: '@Url.Action("LoadTableOrderNotesAdmin")?orderVendorID=' + $("#OrderVendorID").val(),
        sServerMethod: "POST",
        bPaginate: true,
        paging: true,
        columns: [
            {
                "data": null,
                "sortable": false,
                render: function (data, type, row, meta) {
                    return '<label>' + (meta.row + meta.settings._iDisplayStart + 1) + '</label>';
                }
            },
            {
                data: null,
                bSortable: true,
                render: function (data, type, row) { return '<label>' + data.createDateString + '</label>' }
            },
            {
                data: null,
                bSortable: true,
                render: function (data, type, row) {
                    var notes = data.notes;
                    if (data.notes.length > 50) {
                        notes = data.notes.substring(50);
                    }
                    return '<label>' + notes + '</label>';
                }
            },
            {
                data: null,
                bSortable: true,
                render: function (data, type, row) { return '<label>' + data.userName + '</label>' }
            },
            ],
       drawCallback: function (s) {
                    $('[data-toggle="tooltip"]').tooltip();
                },
           buttons: [
                 {
                    extend: "excelHtml5",
                    autoFilter: true,
                    sheetName: 'Exported data',
                    className: "btn btn-success btn-xs",
                    text: '@Homemade.UI.Resources.Homemade.Excel'
                },  {
                    extend: "pdfHtml5",
                    download: 'open',
                    className: "btn btn-info btn-xs",
                    text: '@Homemade.UI.Resources.Homemade.PDF'
                }],
            "language": {
                "search": "_INPUT_",
                "searchPlaceholder": "Search",
                "lengthMenu": "_MENU_",
            }, dom: "<'row'<'col-sm-12'<'text-center bg-body-light py-2 mb-2'B>>><'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"

    });
</script>

