
<div id="cookieNotice" class="light display-right" style="display: none;">
    <div id="closeIcon" style="display: none;">
    </div>
    <div class="title-wrap">
        <h4>@Homemade.UI.Resources.Homemade.CookieConsent</h4>
    </div>
    <div class="content-wrap">
        <div class="msg-wrap">
            <p>@Homemade.UI.Resources.Homemade.website_uses_cookies <a style="color:#115cfa;" href="/privacy-policy">@Homemade.UI.Resources.Homemade.CookiePolicy</a></p>
            <div class="btn-wrap">
                <button class="btn-primary" onclick="acceptCookieConsent();">@Homemade.UI.Resources.Homemade.Accept</button>
            </div>
        </div>
    </div>
</div>

