
@{
    ViewData["Title"] = "غير مسموح";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 



<center>
    <br>
    <img src="~/Images/Stop.png"  width="204" height="204"  />
    <br />
    <span style="color: #CA1925; font-weight: bold; font-size: 70px; ">@Homemade.UI.Resources.Homemade.Unauthorized</span>
</center>
